.Button {
    font-family: 'Poppins-Bold';
    font-size: 1rem;
    border: 0;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 25px;
    font-weight: var(--fontWeightHard);
    color: var(--grayishViolet);
    cursor: pointer;
}

.Button:hover {
    background-color: var(--cyan);
    opacity: 0.5;
    color: white;
}

.active {
    background-color: var(--cyan);
    color: white;
}

.large {
    padding: 15px 45px;
    font-size: 1.2rem;
}

.square {
    border-radius: 7px;
}