.TopHeaderMenu {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-weight: var(--fontWeightHard);
    color: var(--grayishViolet);
}

.TopHeaderMenu li:hover {
    color: var(--veryDarkBlue);
    font-weight: var(--fontWeightHard);
    cursor: pointer;
}