.TopHeaderMenu {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-weight: var(--fontWeightHard);
    color: var(--grayishViolet);
}

.TopHeaderMenu li:hover {
    color: var(--veryDarkBlue);
    font-weight: var(--fontWeightHard);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .TopHeaderMenu {
      display: none;
    }
}