.InputContainer {
    padding: 50px;
    background: url('../../../../assets/bg-shorten-desktop.svg');
    background-color: var(--darkViolet);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    border-radius: 10px;
    gap: 30px;
}

.InputContainer .ButtonContainer {
    width: 20%;
}

.Input {
    width: 80%;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins-Regular';
    color: var(--gray);
}

@media only screen and (max-width: 1024px) {
    .InputContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .Input {
        width: 100%;
        padding: 10px 5px;
    }
    .InputContainer .ButtonContainer {
        width: 100%;
    }
  }