@import "../../../../theme/default.module.css";

.Input {
    padding: 50px;
    background: url('../../../../assets/bg-shorten-desktop.svg');
    background-color: var(--darkViolet);
    background-repeat: no-repeat;
    width: 1000px;
    display: flex;
    height: 60px;
    border-radius: 10px;
    gap: 30px;
}

.InputText {
    width: 80%;
    padding-left: 15px;
    border-radius: 10px;
    font-size: 1rem;
}