.InputContainer {
    padding: 40px;
    background: url('../../../../assets/bg-shorten-desktop.svg');
    background-color: var(--darkViolet);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    border-radius: 10px;
    gap: 30px;
}

.InputContainer .ButtonContainer {
    width: 24%;
}

.InputWrapper {
    display: flex;
    flex-direction: column;
    width: 76%;
}

.InputWrapper .EmptySearchErrorText {
    font-family: 'Poppins-Italic';
    color: var(--red);
}

.Input {
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins-Regular';
    color: var(--gray);
    padding: 15px 5px 15px 5px;
    box-sizing: border-box;
}

.Input.EmptySearchError {
    border: 2px solid var(--red);
}

@media only screen and (max-width: 1024px) {
    .InputContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .InputWrapper {
        width: 100%;
    }

    .Input {
        width: 100%;
        padding: 15px 0 15px 5px;
        box-sizing: border-box;
    }
    .InputContainer .ButtonContainer {
        width: 100%;
    }
  }