@import "../../../theme/default.module.css";

.TopHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color:  var(--gray);
    font-size: 0.9rem;
}

.Left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}