.TopHeader {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    color:  var(--gray);
    font-size: 0.9rem;
}

.Left {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .TopHeader {
        justify-content: space-between;
        width: 90%;
    }
}