.TopHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color:  var(--gray);
    font-size: 0.9rem;
}

.Left {
    display: flex;
    align-items: center;
    width: 35%;
}