@import "../../theme/default.module.css";

.Body {
    background-color: var(--darkVioletSemiTransparent);
    padding: 30px 30px 150px;
}

.ContentWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: -80px;
}