.BottomHeader {
    width: 100%;
    height: 482px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: flex;
}

.BottomHeader .Left {
    width: 45%;
    margin-left: 5%;
}

.BottomHeader .Right {

}

.BottomHeader .Right svg {
    width: 720px;
}

.BottomHeader .Left h1 {
    font-size: 4.8rem;
    font-family: 'Poppins-Bold';
    color: var(--veryDarkBlue);
    line-height: 1.2;
    margin-bottom: 0;
}

.BottomHeader .Left h6 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--grayishViolet);
    font-weight: var(--fontWeightSoft);
    margin-bottom: 25px;
}

@media only screen and (max-width: 1350px) {
    .BottomHeader {
        height: 100%;
    }

    .BottomHeader .Left {
        width:  100%;
        margin: 10px 12%;
        text-align: center;
        padding: 0;
        margin: 0;
      }

    .BottomHeader .Left h1 {
        font-size: 2.8rem;
    }

    .BottomHeader .Left h6 {
        font-size: 1rem;
    }

    .BottomHeader .Right {
        display: none;
        width: 100%;
    }

    .BottomHeader .Right svg {
        width: auto;
        height: auto;
    }
}