.InfoBlock {
    font-family: 'Poppins-Regular';
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: white;
    padding: 35px;
    border-radius: 5px;
    text-align: left;
    position: relative;
}

.InfoBlock:nth-child(3) {
    top: 30px;
}

.InfoBlock:nth-child(5) {
    top: 60px;
}

.InfoBlock .ContentWrapper {
    margin-top: 30px;
    margin-bottom: 0;
}

.InfoBlock h3 {
    font-family: 'Poppins-Bold';
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.InfoBlock h6 {
    font-family: 'Poppins-Light';
    color: var(--grayishViolet);
    margin-top: 0;;
    line-height: 1.7;
    font-size: 0.9rem;
}

.InfoBlock .IconWrapper {
    border-radius: 45px;
    background-color: var(--darkViolet);
    width: 45px;
    height: 45px;
    padding: 20px;
    position: absolute;
    top: -30px;
    left: 30px;
}



@media only screen and (max-width: 1024px) {
    .InfoBlock {
        align-items: center;
        text-align: center;
    }
    
    .InfoBlock .IconWrapper {
        position: absolute;
        top: -48px;
        left: 50%;
        margin-left: -42px;
    }

    .InfoBlock .ContentWrapper {
        margin-top: 0px;
        margin-bottom: 0;
    }
}