.BottomFooter {
    background-color: var(--veryDarkViolet);
    min-height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomFooter .Wrapper {
    display: flex;
    width: 100%;
    gap: 10%;
    justify-content: space-evenly;
}

.BottomFooter .MenuWrapper {
    display: flex;
    gap: 80px;
}

.BottomFooter path {
    fill: #fff;
}


@media only screen and (max-width: 1024px) {
    .BottomFooter {
      flex-direction: column;
    }

    .BottomFooter .Wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .BottomFooter .MenuWrapper {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}