.BottomFooter {
    background-color: var(--veryDarkBlue);
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomFooter .Wrapper {
    display: flex;
    width: 800px;
    gap: 50px;
}

.BottomFooter path {
    fill: #fff;
}