.BottomFooter {
    background-color: var(--veryDarkViolet);
    min-height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomFooter .Wrapper {
    display: flex;
    width: 1100px;
    gap: 250px;
}

.BottomFooter .MenuWrapper {
    display: flex;
    gap: 80px;
}

.BottomFooter path {
    fill: #fff;
}