.App{
  display: flex;
  width:  var(--appWidthDesktop);
  padding: 50px 0px 0px;
  flex-direction: column;
  background-color: white;
}

.AppContainer {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: black;
}

@media only screen and (max-width: 1024px) {
  .App {
    width: 100%;
  }
}