@import "./theme/default.module.css";

@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Regular.ttf");
  }

body {
  margin: 0;
  font-family: var(--fontFamily); 
  font-size: var(--fontSize);
}
