.TopFooter {
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    padding: 75px 0;
    background: url('../../../assets/bg-boost-desktop.svg');
    background-color: var(--darkViolet);
    background-repeat: no-repeat;
    align-items: center;
}

.TopFooter h1 {
    font-family: 'Poppins-Bold';
}

@media only screen and (max-width: 1024px) {
    .TopFooter {
      box-sizing: border-box;
      padding: 75px 10px;
    }

    .TopFooter h1 {
        font-size: 2rem;
    }
}